{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block body %}
    <h1>Tags</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.getId() }}</td>
                <td>
                    <a href="{{ path('tag.show',{slug:tag.getSlug()}) }}">{{ tag.getName() }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>


{% endblock %}
