{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.getId() }}</td>
                <td>
                    <a href="{{ path('category.show',{id:category.getId()}) }}">{{ category.getName() }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>
    <form action="{{ path("category.create") }}">
        <button class="btn-primary btn"> Create an article
    </form>
    </button>
{% endblock %}
