{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.getId() }}</td>
                <td>
                    <a href="{{ path('category.show',{slug:category.getSlug()}) }}">{{ category.getName() }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </thead>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <form action="{{ path("category.create") }}">
            <button class="btn-primary btn"> Create a new Category
            </button>
        </form>

    {% endif %}


{% endblock %}
